{{> header}}
<p>Olá {{userName}},</p>
<p>Este é um aviso de que seus dados serão excluídos em <strong>{{deletionDate}}</strong>.</p>
<p>Se quiser evitar a exclusão, acesse sua conta e faça o que for necessário antes dessa data.</p>
{{> footer}}
